/* Floating Software Icons Background */

.floating-icons{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
z-index:-1;
}

/* icon style */

.icon{
position:absolute;
width:70px;
opacity:0.25;
animation:floatIcon 18s infinite linear;
}

/* icon positions */

.icon1{
top:15%;
left:10%;
animation-duration:20s;
}

.icon2{
top:60%;
left:85%;
animation-duration:25s;
}

.icon3{
top:75%;
left:20%;
animation-duration:22s;
}

.icon4{
top:25%;
left:70%;
animation-duration:26s;
}

.icon5{
top:85%;
left:50%;
animation-duration:24s;
}

.icon6{
top:45%;
left:8%;
animation-duration:24s;
}

.icon7{
top:12%;
left:40%;
animation-duration:24s;
}


/* floating animation */

@keyframes floatIcon{

0%{
transform:translateY(0px) rotate(0deg);
}

50%{
transform:translateY(-40px) rotate(180deg);
}

100%{
transform:translateY(0px) rotate(360deg);
}

}